<video autoplay loop muted id="bgvid">
  <source src="" type="video/mp4">
</video>

<div class="center jumbotron">
<% if flash[:message] %>
	<%= flash[:message] %>
<% end %>
<div class="container-fluid">
	<h1>Meet 'n' Eat!</h1>
	<h2> Treat Yourself </h2>
	<% if logged_in? %>
		<%= link_to "Find Events", events_path, class: "btn btn-danger btn-lg" %>
		<%= link_to "Create Event", new_event_path, class: "btn btn-danger btn-lg" %>
		<%= link_to "My Events", account_events_path(current_account), class: "btn btn-danger btn-lg" %>
	<% else %>
		<p>Log in to find meal buddies!<br>
		<%= link_to "Sign In", signin_path, class: "btn btn-danger btn-lg" %></p>
		<p>Make A New Account!<br>
		<%= link_to "Sign Up", new_account_path, class: "btn btn-danger btn-lg" %> </p>
	<% end %>
</div>