<!DOCTYPE html>
<html>
  <head>
    <title>MeetNEat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="container">
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </header>

  </body>
</html>
