<% if flash[:error] %>
<%= flash[:error] %>
<%end%>

<h1>Sign Into Your Account!</h1>
 <%= form_for @account, url: signin_path, method: :post do |f| %>
 	<%= f.label :username%>
 	<%= f.text_field :username %>
 	<%= f.label :password %>
 	<%= f.password_field :password_digest %>
 	<%= f.submit "Sign In" %>
 	<%= link_to "home", root_path %>
 <%end%>
 <h4>If you do not yet have an account click here! <%= link_to "Sign Up", new_account_path %></h4>
