<% if flash[:error] %>
	<%= flash[:error] %>
<%end%>

<div class="container-fluid">
<h1>Create a new Event:</h1>
<div class="row">
<%= form_for (@event), validate: true do |f| %>
	<div class="col col-lg-4 offset-lg-2">
	<%= f.label :restaurant %><br>
	<%= f.text_field :spot, class: "form-control" %><br>
	<%= f.label :location %><br>
	<%= f.text_field :location, class: "form-control" %><br>
	<%= f.label :cuisine %><br>
	<%= f.text_field :cuisine, class: "form-control" %><br>
	<%= f.label :time%><br>
	<%= f.time_select :time, {:minute_step => 15, :ampm => true} %><br></br>
	</div>
	<div class="col offset-4 col-lg-2">
	<%= f.label "Price Categories:" %><br>
	<%= f.radio_button :budget, "inexpensive", checked: true%>
	<%= f.label "Inexpensive" %><br>
	<%= f.radio_button :budget, "moderate"%>
	<%= f.label "Moderate" %><br>
	<%= f.radio_button :budget, "pricey"%>
	<%= f.label "Pricey" %><br>
	<%= f.radio_button :budget, "high-end"%>
	<%= f.label "High-End" %><br></br>
	<%= f.submit "Create Event", class: "btn btn-primary"%>
	</div>
<%end%><br>
</div>
</div>

<br></br>
<%=link_to "go home", root_path %>
